
.header {
    background-color: #282c34;
    padding: 5px 40px 5px 20px;
    position: fixed;
    width: 100%;
    z-index: 9;
    display: flex;
    font-size: calc(10px + 2vmin);
    justify-content: space-between;
    color: white;
}

.title {
    position: relative;
    padding-right: 90px;
    font-family: 'Exo', sans-serif;
    font-size: 29px;
    color: #f2f4f4;
    letter-spacing: 1px;
    margin: 0;
}

.loading{
    position: fixed;
    top: 90px;
    left: 40px;
    margin:auto;
}


.open-sidebar-btn {
    position: relative;
    border: none;
    padding: 5px 10px;
    color: #f2f4f4;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

/************************* Map ******************************/


.map {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


/*************************Location List Sidebar*****************************8*/
.sidebar {
    padding-top: 40px;
    position: absolute;
    background-color: #ced1d8;
    z-index: 1;
    max-width: 345px;
}

.locations-list {
    position: relative;
    list-style: none;
    margin: 0;
    width: 100%;
    padding-left: 0;
    text-align: center;
    overflow: scroll;
    height: 83.4vh;
}

/************************* Sidebar top ****************************************/

.sidebar-top {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 0 3vh 0;
    z-index: 2;
}

.location-filter-wrapper {
    position: relative;
    margin:auto;
    padding: 0 30px;
}

.location-filter-btn {
    font-size: 18px;
    padding: 5px 0;
    border: 1px #b2b2b2 solid;
    border-radius: 2px;
    max-width: 18vw;
    min-width: 180px;
}

.delete-input-value {
    padding: 5px 0;
    border: 1px #b2b2b2 solid;
    border-left: none;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    font-size: 18px;
    width: 40px;
    background-color: white;
}

.no-results {
    margin: 20px auto 0 auto;
    position:relative;
}

/*************************** Location list item **********************/

.location-list-item {
    width: 100%;
    margin: 8px 0;
    height: 110px;
    overflow: hidden;
    display: grid;
    position: relative;
    grid-template-areas: "details img";
    background-color: white;
}

.location-list-item:first-child {
    margin-top: 0;
}

.location-list-item:hover {
    background-color: #ffd2d2;
    cursor: pointer;
}

.location-img-wrapper {
    position: relative;
    grid-area: img;
    overflow: hidden;
    width: 14vw;
    max-width: 100px;
    min-width: 70px;
    height: 100%;
}

.location-img {
    width: 100px;
    height: auto;
}

.location-info {
    grid-area: details;
    font-size: 13px;
    min-width: 203px;
    display: flex;
    margin: 0 9px 0 5px;
    flex-direction: column;
    position: relative;
}
.location-info hr{
    color: red;
    width: 35px;
    margin: 0 auto;
    border-style: solid;
    margin-bottom:2px;
}

.location-name {
    font-size: 14px;
    font-weight: 600;
    min-width: 100px;
    margin: 2px 0 4px 0;
}

.location-desc {
    margin: 0;
    color: #616161;
    font-style: italic;
}


.location-hours {
    margin-top: 3px;
}

.location-category {
    margin-bottom: 3px;
}
/**************************** Info Window **********************************/
.info-window {
    display: grid;
    grid-template-areas: "title img" 
                         "details img";
}

.info-window-title {
    grid-area: title;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding-right: 6px;
}

.info-window-details {
    grid-area: details;
    padding-right: 6px;
    color: #444444;
    font-style: italic;
}

.info-window-category {
    margin: 0;
    font-style: normal;
    padding-bottom: 8px;
}

.info-window-img-wrapper {
    grid-area: img;
    width: 80px;
    overflow: hidden;
}

.info-window-img {
    height: 90px;
}

/**************************** Featured Location ***************************/
.featured-img {
    width: 300px;
}


/**************************** Animation ************************************/
.close {
    animation: close 0.9s ease forwards;
}

.open {
    animation: open 0.9s ease forwards;
}

@keyframes close {
    0% {
        top: 0;
    }

    100% {
        top: -2000px;
    }
}

@keyframes open {
    0% {
        top: -2000px;
    }

    100% {
        top: 0;
    }
}

@media screen and (max-width: 497px){
    .header {
        padding: 5px 1px 5px 20px;
    }


    .title {
        padding-right: 30px;
        font-size: calc(10px + 4vw);
        letter-spacing: 0;
    }
}