.App-header {
    background-color: #282c34;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

a {
  color: #ff643f;
}

